.serviceContainer {
  width: 650px;
  height: 240px;

  background: #ffffff;
  border: 1px solid #d3dee9;
  border-radius: 20px;
  margin-top: 40px;
  .serviceImage {
    width: 120px;
    height: 120px;
    margin-top: 68px;
    margin-left: 35px;

    img {
      border-radius: 12px;
    }
  }
}
