.header {
  width: 750px;
  height: 218px;

  .text {
    font-size: 50px;
    width: 570px;
    margin-left: 50px;
    margin-top: 34px;
    line-height: 68.1px;
  }
  .closeIcon {
    margin-right: 50px;
    margin-top: 50px;
    font-size: 40px;
  }
}
